{% extends "base.html" %}

{% block title %}MIRA DKG{% endblock %}

{% block containerattr %}class="col-md-10 col-lg-10"{% endblock %}

{% block container %}
    <div class="card card-body">
        <dl>
            {% if entity.name %}
                <h2>{{ entity.name }}</h2>
            {% endif %}
            <dt>CURIE</dt>
            <dd>{{ entity.id }}</dd>
            {% if entity.description %}
                <dd>{{ entity.description }}</dd>
            {% endif %}
            <dt>Type</dt>
            <dd>{{ entity.type }}</dd>
            <dt>Labels</dt>
            {% for label in entity.labels %}
                <dd>{{ label }}</dd>
            {% endfor %}
            {% if entity.synonyms %}
                <dt>Synonyms</dt>
                {% for synonym in entity.synonyms %}
                    <dd>{{ synonym.value }} ({{ synonym.type }})</dd>
                {% endfor %}
            {% endif %}
            {% if entity.properties %}
                {% for property, values in entity.properties.items() %}
                    <dt>{{ property }}</dt>
                    {% for value in values %}
                        <dd>{{ value }}</dd>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% if entity.xrefs %}
                <dt>Xrefs</dt>
                {% for xref in entity.xrefs %}
                    <dd><a href="http://34.230.33.149:8772/{{ xref.id }}">{{ xref.id }}</a> ({{ xref.type }})</dd>
                {% endfor %}
            {% endif %}
        </dl>
    </div>
{% endblock %}
